[LLM]
api_token = 
model_name = 

[PATHS]
information_path = data/information.txt
prompt_path = config/base_prompt.txt

[SETTINGS]
max_new_tokens =
temperature = 
history_limit = 

[APP_CONFIG]
host = 
port = 